<div class="movies">
        <img src="https://image.tmdb.org/t/p/original/{{@movies.poster_path}}" alt="">
        <div class="size name">
            Name: <span>{{@movies.title}}</span> 
        </div>
        <div class="size rating">
            Rating: <span>{{@movies.vote_average}}/10</span>
        </div>
        <div class="size year">
            year: <span>{{@movies.release_date}}</span>
        </div>
</div>