<div class="navbar">
    <div class="head">ZTheatre</div>
    <div>
    <LinkTo @route="index" class="heads">Home</LinkTo>
    <LinkTo @route="shows" class="heads">Shows</LinkTo>
    <LinkTo @route="booking" class="heads">Movies</LinkTo>
    <LinkTo @route="about"class="heads">About</LinkTo>
    </div>
</div>