<div class="screen">
        <img src="https://image.tmdb.org/t/p/original/{{@screen.poster_path}}" alt="">
        <div class="size name">
            <span>{{@screen.title}}</span>
        </div>
        <div class="book">
            <LinkTo @route="register">Book Now</LinkTo>
        </div>
</div> 