<Welcome>
<h1>About Us</h1>
<address>
    <h1>Z theatre</h1>
    <p>123,nehru park,chennai</p>
    <p>Phone:9876543210</p>
</address>
<div class="avail">
<h3>Availability</h3>
<ul class="specs">
    <li>AC & Non AC Theatre</li>
    <li>3D & AC theatre </li>
    <li>Business Class</li>
</ul>
</div>
</Welcome>
